@{
  Layout = "_Layout";
}
<h1>Welcome to the To Do List!</h1>
<p>@Html.ActionLink("See all items", "Index", "Items")</p>
<h3><a href='/categories'><button class="btn btn-primary">View categories</button></a></h3>
<h3><a href='/categories/new'><button class="btn btn-success">Add a new category</button></a></h3>