@{
  Layout = "_Layout";
}
<h1>To Do List Item Details: </h1>

<h2>@Model["item"].Description</h2>
<h3>Category: @Model["category"].Name</h3>

<a href='/categories/@Model["category"].Id/items/new'><button class="btn btn-success">Add another item</button></a>
<a href='/categories'><button class="btn btn-primary">View all categories</button></a>
<form action='/items/delete' method="post">
  <button type="submit" class="btn btn-danger">Clear All Orders</button>
</form>